{% extends 'main.html' %}

{% block head %}
<title>Videos Library</title>
{% endblock %}


{% block body %}

<h1>Home Library Albums List </h1>
<div class="Album_List">
  <table>
    <thead>
      <th>Order Number</th>
      <th>Title</th>
      <th>Band</th>
      <th>Genre</th>
    </thead>
    {% for album in videos %}
    <tr>
        <td><a href="/library/{{ loop.index }}">{{ album.title }}</a></td>
        <td>{{ album.band }}</td>
        <td>{{ album.genre }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
	<div class="add content">
    		<h2> Add New Video </h2>
    		<form method="POST" action="/library/">
        		{{ form.hidden_tag() }}
        		<table>
            			{% for field in form if field.widget.input_type != 'hidden' %}
               			 <tr>
                    		   <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    		   <td>{{ field }}</td>
                		</tr>
            			{% endfor %}
        		</table>
        		<input type="submit" value="Go">
    		</form>
	</div>
{% endblock %}