{% extends 'main.html' %}

{% block head %}
	<title>Videos Library</title>
{% endblock %}


{% block body %}

<h1>Home Library Albums List </h1>
<table>
    <thead>
      <th>Title</th>
      <th>Band</th>
      <th>Genre</th>
    </thead>
{% for video in videos %}
    <tr>
        <td><a href="/library/{{ loop.index }}">{{ video.title }}</a></td>
        <td>{{ video.band }}</td>
        <td>{{ video.genre }}</td>
    </tr>
{% endfor %}
</table>
<div>
    <h2> Add Music Video </h2>
    <form method="POST" action="/library/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Go">
    </form>
</div>
   

{% endblock %}